<div class="container" style="padding: 5%;">
  <div class="row">
    <div class="col-md-12">
      <router-outlet>
        <h1>Project Menagement System</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ut porttitor sapien. Mauris blandit a enim vel efficitur. In lacinia ligula leo, nec commodo metus vehicula vitae. Quisque vulputate ligula vitae lectus iaculis fringilla. Sed vel justo id ante volutpat porta. Nulla consequat, urna vitae elementum faucibus, massa dolor elementum nisi, eget lacinia odio sapien sit amet lacus. Cras at facilisis lacus, at porta tellus. Cras a nisl quis libero aliquet euismod vel vel orci. Pellentesque nec erat nec orci vestibulum euismod. Vivamus quis lacus sodales, dapibus eros eget, ornare nulla. Integer ligula dolor, sodales eu volutpat in, dignissim ut eros. Praesent a fermentum lorem. Curabitur sed justo mi. Sed congue tempor molestie. Vivamus in dolor convallis, lobortis mauris non, rhoncus diam.

        Sed enim ipsum, consectetur eleifend scelerisque et, convallis eget nulla. Quisque et odio lorem. Proin tellus erat, aliquam sed ullamcorper et, vehicula id odio. Nulla sed mauris quis metus vestibulum malesuada. Fusce egestas dolor sit amet placerat fringilla. Integer tristique urna ut mauris tristique, in elementum nisi lacinia. Nullam venenatis, ligula et vestibulum ornare, elit erat ultrices ante, maximus faucibus neque turpis a dolor. Integer mollis efficitur convallis. Curabitur odio mi, mollis id vulputate eu, elementum ut lacus.

      </p></router-outlet>
    </div>
  </div>
</div>
